<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
  <title>Поиск закупок</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <section class="search">
      <form action="{{ url_for('submit') }}" method="post" class="search__form">
        <div class="search__phrases">
          <label for="phrases">Словосочетания поиска</label>
          <br>
          <input type="text" name="phrases" id="phrases" value="{{ params_dict.phrases if params_dict.phrases else '' }}">
        </div>
        <br>
        <div class="search__law">
          <label for="law">Закон</label>
          <br>
          <input type="checkbox" name="law" value="44-fz" id="44-fz" {% if '44-fz' in params_dict.law %}checked{% endif %}>
          <label for="44-fz">44-ФЗ</label>
          <br>
          <input type="checkbox" name="law" value="223-fz" id="223-fz" {% if '223-fz' in params_dict.law %}checked{% endif %}>
          <label for="223-fz">223-ФЗ</label>
        </div>
        <br>
        <div class="search__purchase-stage">
          <label for="purchase-stage">Этап закупки</label>
          <br>
          <input type="checkbox" name="purchase-stage" value="submission-of-applications" id="submission-of-applications" {% if 'submission-of-applications' in params_dict.purchase_stage %}checked{% endif %}>
          <label for="submission-of-applications">Подача заявок</label>
          <br>
          <input type="checkbox" name="purchase-stage" value="the-work-of-the-Commission" id="the-work-of-the-Commission" {% if 'the-work-of-the-Commission' in params_dict.purchase_stage %}checked{% endif %}>
          <label for="the-work-of-the-Commission">Работа комиссии</label>
          <br>
          <input type="checkbox" name="purchase-stage" value="purchase-completed" id="purchase-completed" {% if 'purchase-completed' in params_dict.purchase_stage %}checked{% endif %}>
          <label for="purchase-completed">Закупка завершена</label>
          <br>
          <input type="checkbox" name="purchase-stage" value="purchase-cancelled" id="purchase-cancelled" {% if 'purchase-cancelled' in params_dict.purchase_stage %}checked{% endif %}>
          <label for="purchase-cancelled">Закупка отменена</label>
          <br>
        </div>
        <br>
        <div class="search__price">
          <span class="search__price-label">Цена</span>
          <br>
          <label for="price-min">Минимальная</label>
          <input type="number" name="price-min" id="price-min" value="{{ params_dict.price_min if params_dict.price_min else '' }}">
          <label for="price-max">Максимальная</label>
          <input type="number" name="price-max" id="price-max" value="{{ params_dict.price_max if params_dict.price_max else '' }}">
        </div>
        <br>
        <div class="search__date">
          <span class="search__date-label">Окончание подачи заявок</span>
          <br>
          <label for="date-min">От</label>
          <input type="date" name="date-min" id="date-min" value="{{ params_dict.date_min if params_dict.date_min else '' }}">
          <label for="date-max">До</label>
          <input type="date" name="date-max" id="date-max" value="{{ params_dict.date_max if params_dict.date_max else '' }}">
        </div>
        <br>
        <input type="submit" value="Поиск🔎" class="btn-search">
      </form>
    </section>
    {{ params_dict }}
    {% if is_none == False %}
      <section class="results">
        <aside class="lots-per-phrase">
          <ul>
            <li>
              <span>6: бытовая техника</span>
            </li>
            <li>
              <span>4: принтеры</span>
            </li>
            <!-- счетчики по словосочетаниям -->
          </ul>
        </aside>
        <article class="results__lots">
          <ol class="results__lots-list">
            {% for lot in lots %}
              <li class="results__lot">
                <a href="{{ lot.href }}" class="results__lot-id" target="_blank" rel="noopener noreferrer">{{ lot.id }}</a>
                <br>
                <span class="results__lot-cost">{{ lot.cost }}</span>
                <h4>Объект закупки</h4>
                <p class="results__lot-desc">{{ lot.item }}</p>
                <h4>Заказчик</h4>
                <p class="results__lot-customer">{{ lot.customer }}</p>
              </li>
            {% endfor %}
          </ol>
          <nav class="results__pagination">
            <ul>
              <li><a href=""><</a></li>
              <li><span>1</span></li>
              <li><a href="">></a></li>
            </ul>
          </nav>
        </article>
      </section>
    {% endif %}
  </main>
</body>
</html>